html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100wh;
  height: 90vh;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bookmark {
  margin: auto;
  padding: 50px 20px 30px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  min-width: 300px;
  max-width: 70%;
  border-radius: 10px;
  overflow: hidden;
}

.bookmark_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.bookmark_label {
  flex-basis: 100%;
  text-align: center;
  font: 300 25px 'Open Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.bookmark_input {
  flex-grow: 1;
  border: none;
  height: 25px;
  padding-left: 10px;
  font: 300 14px 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);
}

.bookmark_input:focus {
  outline: 1px solid rgb(177, 177, 177);
  outline-offset: 0;
}

.bookmark_input::placeholder {
  color: rgb(177, 177, 177);
}

.bookmark_submit {
  height: 25px;
  min-width: 100px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}

.bookmark_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bookmark_item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.bookmark_item:first-child {
  padding-top: 0;
}

.bookmark_item:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.bookmark_link {
  flex-grow: 1;
  font: 300 14px 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);
  text-decoration: none;
  overflow: hidden;
}

.bookmark_remove {
  margin-left: 10px;
  padding: 0 10px;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.4);
  border: none;
}
