@import './bookmarkButtons.scss';

.bookmark_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bookmark_label {
  flex-basis: 100%;
  text-align: center;
  font: 300 25px 'Open Sans', sans-serif;
  color: #ffffff;
  margin-bottom: 20px;
}

.bookmark_addInput {
  flex-grow: 1;
  border: none;
  height: 25px;
  padding-left: 10px;
  font: 300 14px 'Open Sans', sans-serif;
  color: rgb(99, 99, 99);

  &:focus {
    outline: 1px solid rgb(177, 177, 177);
    outline-offset: 0;
  }

  &::placeholder {
    color: rgb(177, 177, 177);
  }
}

.bookmark_submit {
  height: 25px;
  min-width: 100px;
}
